@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-titillium);
  --font-mono: var(--font-geist-mono);
}

.gradient-bg {
  background-color: hsla(219, 8%, 92%, 1);
  background-image: radial-gradient(at 50% 94%, hsla(217, 9%, 82%, 1) 0px, transparent 50%), radial-gradient(at 99% 1%, hsla(219, 8%, 92%, 1) 0px, transparent 50%);
}

p {
  font-family: var(--font-mono);
}